body {
    margin: 0;
    padding: 0;
}


/*  */

.page {
    margin: 0 auto;
    width: 4.14rem;
    height: 7.36rem;
    background: #efefef;
    position: relative;
}

.page-home {
    background: url('./imgs/1/1-01.png') no-repeat;
    background-size: auto 100%;
}

.page-home .dot {
    width: 1.33rem;
    height: 1.125rem;
    position: absolute;
    background: url('./imgs/1/1-diqiu.png') no-repeat;
    background-size: auto 100%;
    position: absolute;
    left: 1rem;
    top: 1rem;
}